<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>misinformation check</title>
</head>
<p>
    <h2>COVID_19 MISINFORMATION CHECK</h2>
    <p>Covid 19 is proving to be a unique challenge for our society, most particularly because of the amount of misinformation being shared through both Social media and state-affiliated media.
        The purpose of this project is to use known misinformation and build an aPI that accepts a news title and predicts whether the title is likely to be misinformation.</p>

    <a href="/form">Get Started</a>
    <p></p>
</body>
<B>Please keep in mind this app is not 100% accurate, continue practicing social distancing, and wearing your mask. Please use common sense when judging the news and instructions you read. Always do what is safest for you and the people around you.</B>
</html>